<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- views/index.ejs -->

<%- include('partials/header') %>

<main>
  <h2>All Flights</h2>
</main>

<main>
<h2>Add Flight</h2>
</main>

</body>
</html>

 
  </body>
</html>
